# Ignore Visual Studio Code settings


# Ignore Visual Studio files


# Ignore Unity files








# Ignore generic 3D model files


# Ignore any file with a .lock extension



# Ignore Unity Library folder
Library/

*.csproj
