# Ignore Visual Studio Code settings
.vscode/

# Ignore Visual Studio files
*.suo
*.lock
*.ide

# Ignore Unity files
*.tga
*.anim
*.asset








# Ignore generic 3D model files
*.fbx

# Ignore any file with a .lock extension
*.lock


# Ignore Unity Library folder
Library/

.vs/